<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"  charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    @RenderSection("styles", false)
    @RenderSection("ScriptPage", false)
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header bg-info">
                <h1 class="display text-center">Desenvolvimento em ASP.net MVC
                <small class="text-info"> Utilizando o Bootstrap</small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 bg-success">

                <ul class="nav nav-pills">
                    <li role="presentation" class="active">
                        <a href="#">Home</a>
                    </li>
                    <li role="presentation">
                        @Html.ActionLink("Categorias", "Index", "Categorias")
                    </li>
                    <li role="presentation">
                        @Html.ActionLink("Fabricantes", "Index", "Fabricantes")
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-9 col-md-9">
                @RenderBody()
            </div>
        </div>
            
       
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-12 bg-info">
                <h6 class="text-info text-center">Layout com bootstrap - 2018</h6>
            </div>   
        </div>
    </div>    

    <script src="@Url.Content("~/scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
</body>
</html>
